body {
    background: rgb(38, 53, 16);
    color: black;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    height: 25px;
    width: 100vw;
    background-color: #bdbebd;
    border-top: 2px solid white;
    padding: 3px;
    color: black;
}

.taskbar p {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    min-width: 75px;
    min-height: 23px;
    padding: 12px 12px;
}

.taskbar #clock {
    display: inline-block;
    height: 29px;
    text-align: center;
    padding: 6px;
}

.taskbar button {
    margin-right: 5px;
}

.right {
    float: right;
}

.vl {
    border-left: 4px solid darkgrey;
    height: 25px;
    text-align: right;
}
