<!--
    CSS Template for Photo Center
-->

<!-- import the shared activity center CSS template -->
@import url("../common/activity.css");

<!-- game center specific stuff -->

.InactiveLink { 
    color : gray; 
    text-decoration : none;
    font-weight : normal;
}

.GameListBackground      { 
    <!--background-image: url('images/listBG.gif'); -->
    <!--background-color: #DCEBFA; -->
    background-color: #B8DEF9;
    background-repeat: repeat-y; 
    height: 43; 
    width : expression(document.body.clientWidth);
}

.SortIconCell {
    vertical-align: center;
    height: 43; 
    width : 50px;
}

.SortNameCell {
    vertical-align: center;
    height: 43; 
    width : expression(document.body.clientWidth - 116px);
}

.SortInfoCell {
    vertical-align: center;
    height: 43; 
    width : 50px;
    padding-right: 16px;
}

.ListBG {
   //BACKGROUND-COLOR: #b8def9;
   position : relative;
   width : 100%;
   height: 100%;
   z-order: 0;
}

.ListGameCell {
   BACKGROUND-COLOR: #b8def9; 
   padding : 15 15 15 15;
}

.GameFrame {
   width : 100%;
   height : 100%;
   z-order: 5;

}

.ListGame { 
   BACKGROUND-COLOR: #b8def9;
   z-order: 0; 


}

<!-- alterations to default styles of HTML elements -->

BODY {
    background-color: #A8D0FB;
    z-index: 0;
    font-weight : normal;
    font-family : Tahoma;
    color: black;
    overflow: hidden;
    scrolling
    direction: ltr;
    margin-top : 26px;
}


A  {
    text-decoration : none;
}

A:Active  {
    text-decoration : none;
}

A:Hover  {
    text-decoration : underline;
}

A:Visited  {
    text-decoration: none;
}

TABLE, TR, TD, IMG, SPAN, A {
    padding: 0;
    margin: 0;
}

TD {
    vertical-align: top;
}

OL {
}

LI { margin: 15pt 0 } 

BUTTON {
    /* style for button text, color, and margins */
    font-family : arial;
    font-size : 10pt;
    font-weight : normal;
    line-height : 11pt;
    color : WHITE;
    background-color : #6CA2E3;
    padding-top : 3;
    padding-left : 8;
    padding-right: 8;
    margin-right : 8;
}

<!-- custom classes used by photo center -->

.backgroundimage {
    position: absolute;
    left: 0px;
    bottom: 0px;
    boder: 0px;
    z-index: -2;
}

.stretchedBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: expression(document.body.offsetWidth);
    height: expression(document.body.offsetHeight);
    z-index: -10;
}

!-- NavBar specific classes -->



<!--Start from photocenter -->
.NavBarBody {
    margin: 3 4;
    overflow: hidden;    
    background-color: #6CA2E3;
}

.NavBar {
    width:          100%;
    height:         100%;
    border:         0;
    text-align:     center;
    vertical-align: middle;
    text-decoration:none;
}

.NavBarBlock
{
    background-color:#6CA2E3;
    width:          14.25%;
}

.NavBarBlockCurrent
{
    background-color:#A8D0FB;
    width:          14.25%;
}

.NavBarItem {
    color: white;
    font-size: 10pt;
    font-family: arial;
    text-decoration: none;
}

.NavBarItem:Active  {
    color: white;
}

.NavBarItem:HOVER {
    color: black;
    text-decoration: underline;
}

.NavBarItem:VISITED {
    color: white;
    text-decoration: none;
}

.NavBarItemDisabled {
    font-size: 10pt;
    font-family: arial;
    color:          gray;
    text-decoration:none;
}

<!-- All pages have a similar basic layout, this layout is:

    +--[PageContentTable]-------------------------------------------------+
    |                                                                     |
    | +--[PageTitleRow]-------------------------------------------------+ |
    | |+-[PLS]-++--[title]---------------------------------------------+| |
    | ||       ||                                                      || |
    | |+-------++------------------------------------------------------+| |
    | +-----------------------------------------------------------------+ |
    |                                                                     |
    | +--[PageContentRow]-----------------------------------------------+ |
    | |+-[PLS]-++--[PageContentCell]-----------------------------------+| |
    | ||       ||                                                      || |
    | ||       || +--[ContentDividerTable]---------------------------+ || |
    | ||       || |                                                  | || |
    | ||       || | +--[ContentDividerRow]-------------------------+ | || |
    | ||       || | |+--[LeftContentCell]-+ +--[RightContentCell]-+| | || |
    | ||       || | ||                    | |                     || | || |
    | ||       || | |+--------------------+ +---------------------+| | || |
    | ||       || | +----------------------------------------------+ | || |
    | ||       || |                                                  | || |
    | ||       || +--------------------------------------------------+ || |
    | ||       ||                                                      || |
    | |+-------++------------------------------------------------------+| |
    | +-----------------------------------------------------------------+ |
    |                                                                     |
    +---------------------------------------------------------------------+

    PLS = PageLeftSpacer
    Contents of the LeftContentCell and RightContentCell are unique to each page -->

.PageLeftSpacer {
    font-size: 0.5in;
    font-family: monospace;
}
    
.PageContentTable {
    width: 100%;
    height: 100%;
}

.PageTitleRow {
    width: 100%;
}

.PageTitleCell {
    font-size: 22pt;
    font-family: Tahoma;
}

.PageContentRow {
    width : 100%;
    height: 100%;           <!-- causes this row to eat up all the free space -->
}

.PageContentCell {
    width: 100%;
    height: 100%;
}

.ContentDividerTable {
    width: 100%;
    height: 100%;
}

.ContentDividerRow {
    width: 100%;
    height: 100%;
}

.LeftContentCell {
    width: expression((document.body.clientWidth/2 < 310) ? (document.body.clientWidth/2) : 310);
    height: 100%;
}

.RightContentCell {
    height: 100%;
    padding-bottom: 20;
    padding-left: 0;
    padding-right: 0;
}

<!-- ****************************** Developer-named styles ************************************* -->


.search {
    background-image: url("images/searchbox.gif");
    background-repeat: no-repeat;
    background-position: left top;
}

<!-- ****************************** Designer-sanctioned styles ************************************* -->

.banner {
    font-size : 24pt;
    font-family : verdana;
    font-weight: bold;
}

.title {
    font-size : 16pt;
    font-family : Trebuchet MS;
    color : black;
    font-weight: bold;
    line-height : 110%;
}

.headerSecondary {
    font-family : Trebuchet MS;
    font-size : 10pt;
    line-height : 110%;
    font-weight : bold;
    color : black;
}

.textPrimary {
    font-family : Trebuchet MS;
    font-size : 12pt;
    font-weight : bold;
    line-height : 110%;
    color : black;
}

.textSecondary {
    font-family : arial;
    font-size : 10pt;
    font-weight : normal;
    line-height : 110%;
    color : black;
}


.textTertiary {
    font-family : arial;
    font-size : 8pt;
    font-weight : normal;
    line-height : 110%;
    color : black;
}
